*__pycache__/
*.pyc

BFT_explore/*.ppv
BFT_explore/*.vcd
BFT_explore/*.vvp
BFT_explore/*log
BFT_explore/axi_pe.v
BFT_explore/gen_packet_creator.v
BFT_explore/gen_nw.v
BFT_explore/gen_nw_tb.v

impl_*/logs
impl_*/report
impl_*/routed_dcp
impl_*/synth_dcp

logs_*


data/metis/*
!data/metis/snap/
data/metis/snap/*_graphfile*

*.backup.jou
*.backup.log
*vivado.log
*vivado.jou
*.str
*/.Xil/*