*__pycache__/
*.pyc

BFT_explore/*.ppv
BFT_explore/*.vcd
BFT_explore/*.vvp
BFT_explore/*log
BFT_explore/axi_pe.v
BFT_explore/gen_packet_creator.v
BFT_explore/gen_nw.v
BFT_explore/gen_nw_tb.v

impl_*/logs
impl_*/report
impl_*/routed_dcp
impl_*/synth_dcp

logs_*